<template>
<div class="container flex flex-wrap mx-auto">
  <h2 class="w-full text-xl font-bold text-center pl-6">Obie</h2>
  <div class="max-w-2xl mx-auto p-6">
    <div class="max-w-md mx-auto">
      <p class="text-left text-xl font-bold block border border-white rounded text-blue-500 py-2">
        Calculator
      </p>
      <p class="text-left text-md mb-4pl-4">
       Use our loan calculator to estimate your mortgage payment. Simply enter the price of the asset, your equity, and details about the asset to calculate your payment breakdown, schedule, and more.
      </p>
    </div>
  <div class="max-w-md mx-auto overflow-auto m-1 mb-2" style="height: 70vh;">
    <form
      class="w-full flex flex-wrap"
      @submit.prevent="emailResults()"
      >

    <!-- PURCHASE PRICE -->
  <div class="w-full flex mx-auto">
    <div class="w-2/3 mx-auto">
      <div class="w-full flex md:items-center -mx-2 mb-2 border-b border-b-2 border-blue-300 py-2">
        <div class="flex-shrink w-2/3 px-2 ml-1">
          <label
          class="block uppercase tracking-wide text-gray-700 text-xs text-left font-bold pl-2 mb-1"
          for="NOI">
            Asset NOI
          </label>
          <input
          id="NOI"
          v-model.number="NOI"
          v-on:input="updateMortgage()"
          type="number"
          class="w-full appearance-none block border-none bg-transparent py-2 px-3 focus:outline-none"
          placeholder="$25,000"
          min="0" step="1"
          required
          >
        </div>

        <div class="w-1/3 px-2">
          <label
          class="block uppercase tracking-wide text-gray-700 text-xs text-left font-bold pl-1 mb-1"
          for="capRate">
            Cap Rate
          </label>
          <input
          id="capRate"
          v-model.number="capRate"
          v-on:input="updateMortgage()"
          type="number"
          class="w-full appearance-none block border-none bg-transparent py-2 px-3 focus:outline-none"
          placeholder="Cap Rate"
          min="2" step="0.01"
          required
          >
        </div>
      </div>

    <!-- ALL IN TOTAL -->
      <div class="w-full flex md:items-center -mx-2 mb-1">
        <div class="flex-shrink w-2/3 px-2 ml-1">
          <label
          class="block uppercase tracking-wide text-gray-700 text-xs text-left font-bold pl-2 mb-1"
          for="loanCosts">
            Loan Costs
          </label>
          <input
          id="loanCosts"
          v-model="loanCosts"
          v-on:input="updateMortgage()"
          type="number"
          class="w-full appearance-none block border-none bg-transparent py-2 px-3 focus:outline-none"
          placeholder="Loan Costs"
          >
        </div>

        <div class="w-1/3 px-2">
          <label
          class="block uppercase tracking-wide text-gray-700 text-xs text-left font-bold pl-1 mb-1"
          for="percentLoanCosts">
            As % of PP
          </label>
          <input
          id="percentLoanCosts"
          v-model="percentLoanCosts"
          v-on:input="updateMortgage()"
          type="number"
          class="w-full appearance-none block border-none bg-transparent py-2 px-3 focus:outline-none"
          placeholder="% PP"
          min="0" step="0.01"
          >
        </div>
      </div>

      <div class="w-full flex md:items-center -mx-2  border-b border-b-2 border-blue-300 py-2">
        <div class="flex-shrink w-2/3 px-2 ml-1">
          <label
          class="block uppercase tracking-wide text-gray-700 text-xs text-left font-bold pl-2 mb-1"
          for="capEx">
            Cap Ex
          </label>
          <input
          id="capEx"
          v-model.number="capEx"
          v-on:input="updateMortgage()"
          type="number"
          class="w-full appearance-none block border-none bg-transparent py-2 px-3 focus:outline-none"
          placeholder="Cap Ex"
          >
        </div>
        <div class="w-1/3 px-2">
          <label
          class="block uppercase tracking-wide text-gray-700 text-xs text-left font-bold pl-1 mb-1"
          for="percentCapEx">
            As % of PP
          </label>
          <input
          id="percentCapEx"
          v-model="percentCapEx"
          v-on:input="updateMortgage()"
          type="number"
          class="w-full appearance-none block border-none bg-transparent py-2 px-3 focus:outline-none"
          placeholder="% PP"
          >
        </div>
      </div>

    <!-- LOAN AMOUNT -->
    <div class="w-full flex flex-wrap md:items-center -mx-2 mb-2 border-b border-b-2 border-blue-300 py-2">
      <div class="w-full md:flex md:items-center">
        <div class="md:w-1/3">
          <input type="radio" id="LTV" value="LTV" v-model="picked">
          <label for="LTV">
            LTV
          </label>
        </div>
        <div class="md:w-1/3">
          <input v-model="LTV" v-on:input="updateMortgage()" type="number" class="border rounded py-2 px-3 focus:outline-none" placeholder="LTC">
        </div>
      </div>

      <div class="w-full md:flex mb-1 md:items-center">
        <div class="md:w-1/3">
          <input type="radio" id="LTC" value="LTC" v-model="picked">
          <label for="LTC">
            LTC
          </label>
        </div>
        <div class="md:w-1/3">
          <input v-model="LTC" v-on:input="updateMortgage()" type="number" class="border rounded py-2 px-3 focus:outline-none" placeholder="LTC">
        </div>
      </div>
    </div>
  </div>

    <!-- OUTPUTS -->
    <div class="w-1/3 flex flex-col items-center justify-around">
        <div class="text-center">
          <p class="text-xl font-bold">{{ this.formatCurrency(purchasePrice, 0) }}</p>
          <span>Purchase Price</span>
        </div>
        <div class="text-center">
          <p class="text-xl font-bold">{{ this.formatCurrency(allInCost, 0) }}</p>
          <span>All in Total</span>
        </div>
        <div class="text-center">
          <p class="text-xl font-bold">{{ this.formatCurrency(loanAmount, 0) }}</p>
          <span>Loan Amount</span>
        </div>
    </div>
  </div>

    <!-- TERMS -->
      <div class="w-full flex flex-wrap md:items-center -mx-2 mb-2 mt-1">
        <div class="w-full md:w-1/2 px-2">
          <label
          class="block uppercase tracking-wide text-gray-700 text-xs text-left font-bold pl-3 mb-1"
          for="interestRate">
            Interest Rate
          </label>
          <input
          id="interestRate"
          v-model.number="interestRate"
          v-on:input="updateMortgage()"
          type="number"
          class="border rounded py-2 px-3 focus:outline-none"
          placeholder="Interest Rate"
          min=2 step=0.01
          required
          >
        </div>
        <div class="w-full md:w-1/2 px-2">
          <label
          class="block uppercase tracking-wide text-gray-700 text-xs text-left font-bold pl-3 mb-1"
          for="loanTerm">
            Loan Term
          </label>
          <input
          id="loanTerm"
          v-model.number="loanTerm"
          v-on:input="updateMortgage()"
          type="number"
          class="border rounded py-2 px-3 focus:outline-none"
          placeholder="Loan Term"
          required
          >
        </div>
      </div>

      <div class="w-full flex flex-wrap md:items-center -mx-2 mb-2">
        <div class="w-1/2 px-2">
          <label
          class="block uppercase tracking-wide text-gray-700 text-xs text-left font-bold pl-3 mb-1"
          for="date">
            Start Date
          </label>
          <v-date-picker
            id="date"
            class="focus:outline-none"
            v-on:input="updateMortgage()"
            v-model="date"
            />
        </div>
        <div class="w-1/2 px-2">
          <label
          class="block uppercase tracking-wide text-gray-700 text-xs text-left font-bold pl-3 mb-1"
          for="compounding">
            Compounding
          </label>
          <input
          disabled
          id="compounding"
          v-model="compounding"
          type="text"
          class="border bg-gray-200 rounded py-2 px-3 focus:outline-none text-gray"
          >
        </div>
      </div>

      <div class="w-full flex flex-wrap md:items-center -mx-2 mb-6">
        <div class="w-full md:w-1/2 px-2">
          <label
          class="block uppercase tracking-wide text-gray-700 text-xs text-left font-bold pl-3 mb-1"
          for="amortization">
            Amortization
          </label>
          <input
          id="amortization"
          v-model.number="amortization"
          v-on:input="updateMortgage()"
          type="number"
          class="border rounded py-2 px-3 focus:outline-none"
          placeholder="Amortization"
          required
          >
        </div>
        <div class="w-full md:w-1/2 px-2">
          <label
          class="block uppercase tracking-wide text-gray-700 text-xs text-left font-bold pl-3 mb-1"
          for="ioPeriod">
            I/O Period
          </label>
          <input
          id="ioPeriod"
          v-model.number="ioPeriod"
          v-on:input="updateMortgage()"
          type="number"
          class="border rounded py-2 px-3 focus:outline-none"
          placeholder="I/O Period"
          required
          >
        </div>
      </div>

      <div class="flex w-full mx-auto items-center border-b border-b-2 border-blue-500 py-2">
        <input
          class="flex-shrink appearance-none bg-transparent border-none ml-1 pl-2 mr-4 w-full py-1 focus:outline-none"
          type="email"
          placeholder="Your email address"
          v-model="email"
          required
          >
        <button
          class="flex-shrink-0 bg-blue-500 hover:bg-blue-700 border-blue-500 hover:border-blue-700 text-sm border-4 text-white py-1 px-2 rounded"
          type="submit"
          >
          Get breakdown
          </button>
        </div>
    </form>
  </div>
  </div>

  <div class="max-w-2xl mx-auto p-6">
    <div class="max-w-lg mx-auto">
      <ul class="flex font-bold p-4 text-lg">
        <li class="flex-1 mr-2">
          <a class="text-center block border border-blue-500 rounded py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white"
          v-on:click="toggleView(1, 0)">Breakdown</a>
        </li>
        <li class="flex-1 mr-2">
          <a class="text-center block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-2 px-4"
          v-on:click="toggleView(0, 1)">Schedule</a>
        </li>
      </ul>
    </div>

    <div v-show="breakdown" class="w-full max-w-lg mx-auto px-6">
    <!-- OUTPUTS TABLE-->
      <table cellpadding="12" class="max-w-lg">
        <tr class="border border-gray-300">
          <td class="text-left font-bold">Estimated Monthly Payment</td>
          <td class="text-right">{{ this.formatCurrency(estimatedMonthlyPayment) }}</td>
        </tr>
        <tr class="border border-gray-300">
          <td class="text-left font-bold">Total Loan Amount</td>
          <td class="text-right">{{ this.formatCurrency(loanAmount) }}</td>
        </tr>
        <tr class="border border-gray-300">
          <td class="text-left font-bold">Total Equity Required</td>
          <td class="text-right">{{ this.formatCurrency(equityRequired) }}</td>
        </tr>
        <tr class="border border-gray-300">
          <td class="text-left font-bold">(LTC) Loan To Cost</td>
          <td class="text-right">{{ this.formatPercent(loanToCost) }}</td>
        </tr>
        <tr class="border border-gray-300">
          <td class="text-left font-bold">Interest Only Payment</td>
          <td class="text-right">{{ this.formatCurrency(ioPayment) }}</td>
        </tr>
        <tr class="border border-gray-300">
          <td class="text-left font-bold">Payment After Interest Only</td>
          <td class="text-right">{{ this.formatCurrency(paymentAfterIO) }}</td>
        </tr>
        <tr class="border border-gray-300">
          <td class="text-left font-bold">Interest Rate</td>
          <td class="text-right">{{ this.formatPercent(interestRate / 100) }}</td>
        </tr>
        <tr class="border border-gray-300">
          <td class="text-left font-bold">Total Fees</td>
          <td class="text-right">{{ this.formatCurrency(totalFees) }}</td>
        </tr>
        <tr class="border border-gray-300">
          <td class="text-left font-bold">Total Costs</td>
          <td class="text-right">{{ this.formatCurrency(totalCosts) }}</td>
        </tr>
        <tr class="border border-gray-300">
          <td class="text-left font-bold">Total Cost of Loan (Fees & Costs)</td>
          <td class="text-right">{{ this.formatCurrency(totalPayment) }}</td>
        </tr>
        <tr class="border border-gray-300">
          <td class="text-left font-bold">Total Interest</td>
          <td class="text-right">{{ this.formatCurrency(totalInterest) }}</td>
        </tr>
        <tr class="border border-gray-300">
          <td class="text-left font-bold">Number of Payments</td>
          <td class="text-right">{{ numPayments }}</td>
        </tr>
        <tr class="border border-gray-300">
          <td class="text-left font-bold">Balloon Payment</td>
          <td class="text-right">{{ balloonPayment }}</td>
        </tr>
        <tr class="border border-gray-300">
          <td class="text-left font-bold">Pay-Off Date</td>
          <td class="text-right">{{ payOffDate }}</td>
        </tr>
      </table>
    </div>

    <!-- AMORTIZATION TABLE-->
    <div v-show="!breakdown">
      <div class="max-w-lg mx-auto border-b border-black-500">
        <table cellpadding="12" class="table-auto w-full">
          <tr class="font-bold text-left">
            <td>No.</td>
            <td>Due Date</td>
            <td>Payment</td>
            <td>Interest</td>
            <td>Principle</td>
            <td>Balance</td>
          </tr>
        </table>
      </div>

    <div class="overflow-scroll max-w-lg mx-auto" style="height: 60vh;">
      <div v-for="row in amortizationSchedule" :key="row.key" class="mx-auto max-w-lg">
        <table cellpadding="12" class="table-auto w-full">
          <tr class="border-b border-gray-300">
            <td>{{ row.pmt }}</td>
            <td>{{ row.date }}</td>
            <td>{{ row.payment }}</td>
            <td>{{ row.interest }}</td>
            <td>{{ row.principle }}</td>
            <td>{{ row.balance }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  </div>
</div>
</template>

<script>
import moment from 'moment'
import axios from 'axios'

export default {
  name: 'LoanCalculator',

  data () {
    return {
      date: new Date(),
      email: '',
      compounding: 'Monthly',
      NOI: '',
      capRate: null,
      percentLoanCosts: 1,
      percentCapEx: 1,
      picked: 'LTV',
      LTV: 80,
      LTC: 66,
      interestRate: null,
      loanTerm: 30,
      amortization: 30,
      ioPeriod: 0,
      payOffDate: '',
      alertText: '',
      amortizationSchedule: [],
      numPayments: 0,
      totalPayment: 0,
      totalInterest: 0,
      balloonPayment: 0,
      breakdown: 1,
      schedule: 0,
      apiData: ''
    }
  },

  mounted () {
    axios
      .get('https://www.quandl.com/api/v3/datasets/USTREASURY/YIELD/data.json?column_index=10&&start_date=2019-10-08&end_date=2019-10-08&api_key=zbBuB9b1wg-Fzy21aBFg')
      .then(response => {
        this.apiData = ((response.data || {}).dataset_data || {}).data[0][1]
        this.capRate = this.apiData + 3.5
        this.interestRate = this.apiData + 2.5
      })
      .catch(error => {
        console.log(error)
        this.capRate = 3.5
        this.interestRate = 2.25
      })
  },

  computed: {
    loanCosts: {
      get: function () {
        let cost = this.purchasePrice * (this.percentLoanCosts / 100)
        return parseInt(this.round(cost, 0))
      },
      set: function (val) {
        let percentCost = (val / this.purchasePrice) * 100
        this.percentLoanCosts = parseFloat(this.round(percentCost, 2))
      }
    },

    capEx: {
      get: function () {
        let cap = this.purchasePrice * (this.percentCapEx / 100)
        return parseInt(this.round(cap, 0))
      },
      set: function (val) {
        let percentCap = (val / this.purchasePrice) * 100
        this.percentCapEx = parseFloat(this.round(percentCap, 2))
      }
    },

    totalFees: function () {
      return this.loanCosts + this.capEx
    },

    purchasePrice: function () {
      return ((this.capRate > 0) ? this.NOI / (this.capRate / 100) : 0)
    },

    allInCost: function () {
      return this.purchasePrice + this.loanCosts + this.capEx
    },

    totalCosts: function () {
      return this.purchasePrice + this.loanCosts + this.capEx
    },

    loanAmount: function () {
      if (this.picked === 'LTV') {
        return this.purchasePrice * (this.LTV / 100)
      } else {
        return this.allInCost * (this.LTC / 100)
      }
    },

    equityRequired: function () {
      return this.allInCost - this.loanAmount
    },

    loanToCost: function () {
      return ((this.allInCost > 0) ? this.loanAmount / this.allInCost : 0)
    },

    termInMonths: function () {
      return this.amortization * 12
    },

    ratePerPeriod: function () {
      return this.interestRate / 12
    },

    ioPayment: function () {
      return (this.ratePerPeriod / 100) * this.loanAmount
    },

    estimatedMonthlyPayment: function () {
      let amount = this.loanAmount
      let term = this.termInMonths
      let rate = this.interestRate

      return ((this.termInMonths > 0) ? this.getMonthlyPayment(amount, term, rate) : '0')
    },

    paymentAfterIO: function () {
      let amount = this.loanAmount
      let rate = this.interestRate
      let term = (this.amortization - this.ioPeriod) * 12

      return ((term > 0) ? this.getMonthlyPayment(amount, term, rate) : '0')
    }
  },

  methods: {
    toggleView: function (breakdown, schedule) {
      this.breakdown = breakdown
      this.schedule = schedule
    },

    updateMortgage: function () {
      let amount = this.loanAmount
      let rate = this.interestRate
      this.calculate(amount, rate)
    },

    calculate: function (amount, rate) {
      let totalInterest = 0
      let totalPayment = 0
      let numInterest = this.ioPeriod * 12
      let monthlyPayment = 0
      let amoritzationRow
      let paymentCounter = 0
      let startDate = this.date
      let dueDate

      this.amortizationSchedule.length = 0

      if (numInterest > 0) {
        monthlyPayment = this.ioPayment
        dueDate = this.getDateString(startDate, 0)
        let self = this
        for (let n = 1; n <= numInterest; n++) {
          totalInterest += monthlyPayment
          totalPayment += monthlyPayment
          amoritzationRow = Object.assign({
            'pmt': n,
            'date': dueDate,
            'payment': self.roundAndFormat(monthlyPayment, 2),
            'principle': 0.00,
            'interest': self.roundAndFormat(monthlyPayment, 2),
            'totalInterest': self.roundAndFormat(totalInterest, 2),
            'balance': self.roundAndFormat(amount, 2),
            'totalPayment': self.roundAndFormat(totalPayment, 2)
          }, {})
          self.amortizationSchedule.push(amoritzationRow)
          paymentCounter = n
          dueDate = self.getDateString(startDate, n)
        }
        // now amortize with the payment after IO
        monthlyPayment = this.paymentAfterIO
        paymentCounter++
        this.amortize(paymentCounter, monthlyPayment, amount, rate)
      } else {
        monthlyPayment = this.estimatedMonthlyPayment
        this.amortize(1, monthlyPayment, amount, rate)
      }
    },

    amortize: function (num, payment, amount, rate) {
      let i = rate / 100
      let currentBalance = amount
      let paymentCounter = num
      let totalInterest = 0
      let towardsInterest = 0
      let towardsBalance = 0
      let totalPayment = 0
      let monthlyPayment = payment
      let amoritzationRow
      let term = (this.loanTerm < this.amortization) ? this.loanTerm * 12 : this.amortization * 12
      let startDate = this.date
      let dueDate = this.getDateString(startDate, num - 1)

      this.numPayments = paymentCounter + term - 1
      while (currentBalance > 0 && paymentCounter <= term) {
        towardsInterest = (i / 12) * currentBalance
        if (monthlyPayment > currentBalance && this.loanTerm >= this.amortization) {
          monthlyPayment = currentBalance + towardsInterest
        }
        towardsBalance = monthlyPayment - towardsInterest
        totalInterest = Number(totalInterest) + Number(towardsInterest)
        totalPayment = Number(totalPayment) + Number(monthlyPayment)
        currentBalance = currentBalance - towardsBalance

        amoritzationRow = Object.assign({
          'pmt': paymentCounter,
          'date': dueDate,
          'payment': this.roundAndFormat(monthlyPayment, 2),
          'principle': this.roundAndFormat(towardsBalance, 2),
          'interest': this.roundAndFormat(towardsInterest, 2),
          'totalInterest': this.roundAndFormat(totalInterest, 2),
          'balance': this.roundAndFormat(currentBalance, 2),
          'totalPayment': this.roundAndFormat(totalPayment, 2)
        }, {})

        this.amortizationSchedule.push(amoritzationRow)
        dueDate = this.getDateString(startDate, num + paymentCounter - 1)
        paymentCounter++
      }
      this.totalPayment = totalPayment
      this.totalInterest = totalInterest
      this.payOffDate = dueDate
      this.numPayments = paymentCounter - 1

      let size = this.amortizationSchedule.length
      let lastRow = (this.amortizationSchedule[size - 1] || 0)
      this.balloonPayment = lastRow ? '$' + this.amortizationSchedule[size - 1].balance : 0
    },

    emailResults: function () {
      if (this.estimatedMonthlyPayment < 0 && isNaN(parseFloat(this.estimatedMonthlyPayment))) {
        return console.log('Bad entries')
      } else {
        console.log(this.estimatedMonthlyPayment)
        axios.post('http://localhost:8000/email', {
          email: this.email,
          subject: 'Your Mortgage Calculation Breakdown from Obie',
          message: {
            payload: [`Hello there! 👋

            You're getting this email because you requested a summary of your loan breakdown from our website.

            Estimted Monthly Payment: ${this.estimatedMonthlyPayment},
            Loan Amount: ${this.loanAmount},
            Equity Required: ${this.equityRequired},
            LTC: ${this.loanToCost},
            Interest Only Payment: ${this.ioPayment} ,
            Payment After Interest Only: ${this.paymentAfterIO},
            Interest: ${this.interestRate},
            Total Fees: ${this.totalFees} ,
            Total Costs: ${this.totalCosts},
            Total Cost of Loan: ${this.totalPayment},
            Total Interest: ${this.totalInterest},
            Number of Payments: ${this.numPayments},
            Balloon Payment: ${this.balloonPayment},
            PayOff-date: ${this.payOffDate},

            We're happy to see your interest in mortgage loans and would love to help you lock-in a great rate in record time. Feel free to respond directly to this email and someone on our team can help get you a quote.

            We look forward to hearing from you!

            Thanks,
            The Obie Team
            `
            ] }
        }).then(function (response) {
          console.log(response)
        }).catch(function (error) {
          console.log(error)
        })
      }
    },

    getMonthlyPayment: function (amount, months, rate) {
      let i = rate / 100
      let pmt = amount * (i / 12) * Math.pow((1 + i / 12), months) / (Math.pow((1 + i / 12), months) - 1)
      return this.round(pmt, 2)
    },

    round: function (num, dec) {
      return (Math.round(num * Math.pow(10, dec)) / Math.pow(10, dec)).toFixed(dec)
    },

    formatCurrency: function (num, dec = 2) {
      return (new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: dec }).format(num))
    },

    formatPercent: function (num, dec = 2) {
      return (new Intl.NumberFormat('en-US', { style: 'percent', minimumFractionDigits: dec }).format(num))
    },

    formatDecimal: function (num, dec = 2) {
      return (new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: dec }).format(num))
    },

    roundAndFormat: function (num, dec) {
      let rounded = this.round(num, dec)
      let formatted = this.formatDecimal(rounded, 2)
      return formatted
    },

    getDateString: function (date, n) {
      return (moment(date).add(n, 'months').format('MMMM Do YYYY'))
    }

  }
}
</script>
