<template>
  <div class="container mx-auto">
    <LoanCalculator/>
  </div>
</template>

<script>
import LoanCalculator from './LoanCalculator.vue'

export default {
  name: 'LoanDetail',
  components: {
    LoanCalculator
  }
}
</script>
