<template>
  <div id="app">
    <LoanDetail/>
  </div>
</template>

<script>
import LoanDetail from './components/LoanDetail.vue'
// import MortgageLoanCalculator from './components/MortgageLoanCalculator.vue'

export default {
  name: 'app',
  components: {
    LoanDetail
    // MortgageLoanCalculator
  }
}
</script>

<style>

</style>
